.root {
    -fx-background-radius: 10 10 0 0;
    -fx-background-image: url('icons/BG.png');
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0 0 0 0;

}
.root1 {
 -fx-background-radius: 10 10 0 0;
  -fx-background-image: url('icons/whitebg.jpg');
  -fx-background-size: cover;
  -fx-background-repeat: no-repeat;
  -fx-background-insets: 0 0 0 0;
}
.progress-bar .track {
    -fx-background-color: lightgray;
}

/* Style for the indicator (fill) of the ProgressBar */
.progress-bar .bar {
    -fx-background-color: #c71585 ;
}
.panel {
    -fx-background-color: #1D1D1D;
    /* Upper part of the panel */
    -fx-background-radius: 10 10 0 0;
    /* the inserts are the down part of the panel */
     -fx-background-insets: 0 0 0 0;
}
.panel2 {
    -fx-background-color: #EDEADE;
    /* Upper part of the panel */
    -fx-background-radius: 10 10 0 0;
    /* the inserts are the down part of the panel */
     -fx-background-insets: 0 0 0 0;
}
.side_panel {

 -fx-background-color: #454545;
 -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}

.side_panel1 {

 -fx-background-color: #F0EAD6;
 -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}
#exit {
  -fx-background-image: url('icons/exit.png');
   -fx-background-size: cover;
   -fx-background-repeat: no-repeat;
   -fx-text-fill: transparent; /* Make the text transparent if you only want to display the image */
   -fx-font-size: 0
}
#exit:hover {
 -fx-background-image: url('icons/exited.png');
}

#minus {
  -fx-background-image: url('icons/minimize.png');
   -fx-background-size: cover;
   -fx-background-repeat: no-repeat;
   -fx-text-fill: transparent; /* Make the text transparent if you only want to display the image */
   -fx-font-size: 0
}
#minus:hover {
 -fx-background-image: url('icons/minimized.png');
}

/* This how to to opause and disable borders on buttons*/
.button1 {
    -fx-background-image: url('icons/Songs.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.button1:hover {
    -fx-background-image: url('icons/songs_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button1:pressed {
     -fx-background-image: url('src/main/resources/com/example/mutify_javafx/icons/songs_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button2 {
    -fx-background-image: url('icons/Playlist.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.button2:hover {
    -fx-background-image: url('icons/playlist_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button2:pressed {
     -fx-background-image: url('icons/playlist_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button3 {
    -fx-background-image: url('icons/album.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.button3:hover {
    -fx-background-image: url('icons/album_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button3:pressed {
     -fx-background-image: url('icons/album_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button4 {
    -fx-background-image: url('icons/settings.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.button4:hover {
    -fx-background-image: url('icons/settings_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button4:pressed {
     -fx-background-image: url('icons/settings_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.buttonplay {
    -fx-background-image: url('icons/play.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.buttonplay:hover {
    -fx-background-image: url('icons/play_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonplay:pressed {
     -fx-background-image: url('icons/play_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonpaused {
    -fx-background-image: url('icons/pause.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.buttonpaused:hover {
    -fx-background-image: url('icons/pause_focused.png');
     -fx-background-repeat: no-repeat;
      -fx-background-size: 34px 34px;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonpaused:pressed {
     -fx-background-image: url('icons/paused_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonrewind {
    -fx-background-image: url('icons/rewind.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.buttonrewind:hover {
    -fx-background-image: url('icons/rewind_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonrewind:pressed {
     -fx-background-image: url('icons/rewind_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonforward {
    -fx-background-image: url('icons/forward.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}

.buttonforward:hover {
    -fx-background-image: url('icons/forward_focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonforward:pressed {
     -fx-background-image: url('icons/forward_clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.buttonlist {
    -fx-background-image: url('icons/icons8-list-main.png');
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-position: center;
     -fx-background-size: 34px 34px;
     -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.416667em 0.666667em 0.416667em 0.666667em; /* Adjust padding as needed */
}
.buttonlist:hover {
    -fx-background-image: url('icons/icons8-fullscreen-focused.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.buttonlist:pressed {
     -fx-background-image: url('icons/icons8-list-clicked.png');
     -fx-background-repeat: no-repeat;
     -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/*Tableview CSS*/
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #454545, #1D1D1D);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #454545;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

/* Customize the background color of the second column cells */
.table-view .table-row-cell table-cell {
     -fx-background-color: transparent;
}

.table-row-cell .table-cell {
   -fx-background-color: transparent/* Replace with your desired color */
}

.table-view1 {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #F9F6EE, #454545);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.table-view1 .column-header-background {
    -fx-background-color: #F9F6EE;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-background-inset: 0 0 0 0;
}

.table-view1 .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view1 .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

/* Customize the background color of the second column cells */
.table-view1 .table-row-cell table-cell {
     -fx-background-color: transparent;
}
.table-row-cell .table-cell {
   -fx-background-color: transparent/* Replace with your desired color */
}
/*End of tableview CSS*/

.mutifybuttons {
    -fx-background-color: linear-gradient(to right, rgba(227, 61, 148), rgba(160,32,240));
    -fx-background-size: 50px 50px; /* Adjust the width and height as needed */
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-radius: 16px;
}
.slider .track {
    -fx-background-color: linear-gradient(236, 236, 236);
}

/* Thumb (the draggable part) */
.slider .thumb {
    -fx-background-color: #ecf0f1;
}
.label1 {
    -fx-text-fill: white; /* Set the default text color */
}
.label2 {
    -fx-text-fill: black; /* Set the default text color */
}